
.lists{
    border: 0.5px solid #646cff;
    border-radius: 8px;
    font-size: 0.9em;
}

.Defs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete{
    padding: 10px;
    font-size: 0.8em;
    background-color: #ff6464;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
