
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #dcdcdc;
}

.header-title{
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    
}

.header-title-link{
    text-decoration: none;
}

.header a {
    color: #222222;
}