
.Cours{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Cours-ul{
    margin: 15px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hub{
    padding: 15px;
    font-size: 1em;
    background-color: #ff6464;
    border: 0.4px solid #ff6464;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.hub:hover{
    background-color: white;
    color: #ff6464;
    transition: 0.5s;
    border: 0.4px solid #ff6464;
}

.reloadSite{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reloadBtn{
    display: flex;
    padding: 30px;
    background-color: #646cff;
    color: white;
    cursor: pointer;
    border: 0.4px solid #646cff;
    border-radius: 10px;
    margin: 30px;
    font-size: 0.9em;
}

.reloadBtn:hover{
    background-color: white;
    color: #646cff;
    transition: 0.6s;
}

.titleReload{
    margin: 20px;
}

.LoadingImg{
    margin: 30px;
    max-width: 200px;
    width: 90%;
    animation: reload 2s ease-in-out infinite;
}

@keyframes reload {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}